doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Bare - Start Bootstrap Template
        // Bootstrap core CSS
        link(href='/assets/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/assets/css/style.css', rel='stylesheet')
        // Custom styles for this template
    body