.todo-list, form.add-a-user {
    position: relative;
    top: 80px;
}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.remove-row > i {
    position: relative;
    left: 10px;
    color: #f14242;
}