extends ../layouts/app.pug

block content
    .container
        .row
            .col-lg-12.text-center.user-list
                table.table
                    thead
                        tr
                            th(scope='col') First Name
                            th(scope='col') Last Name
                            th(scope='col') Age
                            th(scope='col') Actions
                    tbody
                        each user  in users
                            tr
                                td=user.first_name
                                td=user.last_name
                                td=user.age
                                td
                                    a.on-default.edit-row(href='#')
                                        i.mdi.mdi-lead-pencil
                                    a.on-default.remove-row(href='#', data-id=user.id)
                                        i.mdi.mdi-account-remove


